@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Overpass', sans-serif;
  --bg-color: #121417;
  --primary-color: #555f6d50;
  --secondary-color: #1a222b;
  --white: #ffffff;
  --orange: #fb7413;
  --secondary-font: #9ca3af;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(98.96% 98.96% at 50% 0%, var(--primary-color) 0%, var(--secondary-color) 100%);
  width: 22rem;
  height: 20rem;
  border-radius: 20px;
}

.first-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 85%;
}

.second-container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 80%;
}

.switch {
  display: none;
}


.star-container {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50px;
}

.middle-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.middle-container h1 {
  font-size: 18pt;
}

.middle-container p {
  font-size: 9pt;
  color: var(--secondary-font);
}


.rating-container ul {
  font-size: 10pt;
  color: var(--secondary-font);
  display: flex;
  justify-content: space-between;
}

.rating-container ul li {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 42px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.selected, .selected:hover {
  background-color: var(--orange) !important;
  color: var(--white);
}

.rating-container ul li:hover {
  background-color: var(--secondary-font);
  color: var(--white);
}

.submit-container button {
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  font-size: 9pt;
  font-weight: 600;
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  border: none;
  background-color: var(--orange);
  color: var(--white);
  letter-spacing: 3px;
}

.submit-container button:disabled{
  cursor: not-allowed;
  background-color: #fb741340;
  color: var(--secondary-font);
}

.submit-container button:active {
  background-color: var(--white);
  color: var(--orange);
}

.selected-container {
  font-size: 10pt;
  font-weight: 300;
  color: var(--orange);
  background-color: var(--primary-color);
  padding: 8px 15px;
  border-radius: 20px;
}

